:root {
  font-family: Montserrat;
}
a {
  text-decoration: none;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.panel {
  background: red;
  color: cornsilk;
}
.logo {
  width: 400px;
  box-sizing: content-box;
}
.kste {
  color: black;
  font-family: Alfa Slab One;
  font-size: 44px;
  font-style: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.avto {
  color: red;
  font-family: Alfa Slab One;
  font-size: 44px;
  font-style: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.address li {
  width: 400px;
  font-weight: 400;
  display: inline;
  padding: 50px;
}
.navigation {
  width: 1080px;
}
.navigation-list-item {
  display: inline;
  text-transform: uppercase;
}
.logo-list li {
  display: inline;
  padding: 50px;
}
.logo {
  width: 1080px;
}
