:root {
  font-family: Montserrat;
}

.panel {
  background: red;
  color: cornsilk;
}
.logo {
  width: 400px;
  box-sizing: content-box;
}
.kste {
  color: black;
  font-family: Alfa Slab One;
  font-size: 44px;
  font-style: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.avto {
  color: red;
  font-family: Alfa Slab One;
  font-size: 44px;
  font-style: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  -webkit-text-stroke: 1.4px #000000;
}
.address li {
  width: 400px;
  font-weight: 400;
  display: inline;
}
