:root {
  font-family: Montserrat;
}
a {
  text-decoration: none;
}
a:link {
  color: rgb(14, 5, 5);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
/* --------------- ШАПКА --------------- */
.header {
  background-color: rgb(161, 147, 128);
}
.container {
  display: flex;
  align-content: space-between;
  align-items: center;

  margin-left: 20px;
  margin-right: 20px;
}
.address {
  display: inline-flexbox;
  font-size: large;
  font-weight: 700;
  width: 600px;
  text-align: center;
  align-content: space-between;
  align-items: center;
  font-style: normal;
}
.panel {
  background: red;
  color: cornsilk;
}
.logo {
  width: 400px;
}
.kste {
  color: black;
  font-family: Alfa Slab One;
  font-size: 44px;
  font-style: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.avto {
  color: red;
  font-family: Alfa Slab One;
  font-size: 44px;
  font-style: normal;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.address li {
  font-weight: 400;
  display: inline;
}
.navigation {
  width: 800px;
  margin: auto;
  font-size: large;
}
.navigation-list {
  display: inline-flex;
}
.navigation-list-item {
  display: flex;
  text-transform: uppercase;
  margin-right: 30px;
}
.logo-list {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}
.logo-list-item {
  padding-right: 100px;
}
.logo {
  width: auto;
  display: flex;
}
.logo-header {
  text-align: center;
}
/* ------------------- HERO ---------------------- */
.background {
  background-image: url(./images/background.jpg);
  background-size: contain;
}
/* ------------------- FOOTER ---------------- */
.footer {
  background-color: burlywood;
}
